.AddProject {
    margin: 1% 3% 3% 2%;
}
.FormContainer {
    margin-top: 2%;
}
.FormItem {
    input {
        width: 50%;
    }

    width: 90%;

}
.StylesLabel{
    float: left;
    font-size: 125%;
}
.StylesInput {
    margin-left: 6%;
}

