.AddProject{
    border-radius: 3px;
    line-height: 30px;
    text-align: center;

    .url {
        width: 98%;
        height: 35px;
    }

    .show {
        margin: 0% 1% 2% 1%;
        width: 98%;
        height: 500px;
        border: 2px solid #dddddd; 
    }
    .btn {
        width: 100px;
        height: 30px;
        border-radius: 4px;
        background-color:  dodgerblue;
        color: white;
        font-weight: bolder;
    }

}